
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Denied</title>
</head>
<body>
    <div>Sorry, 你没有权限访问该页面</div>
</body>
</html>
