@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>修改密码</title>

    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/element-ui/theme-chalk/index.css" />
    <script type="text/javascript" src="~/lib/vue/vue.js"></script>
    <script type="text/javascript" src="~/lib/element-ui/index.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/axios.min.js"></script>
</head>
<body>
    <div id="app" class="login-div">
        <div class="login-container">
            <el-form status-icon ref="userForm" label-position="left" label-width="0px" class="demo-ruleForm login-page" :model="model" :rules="validation">
                <h3 class="title">修改密码</h3>
                <p class="login-res-title">请输入新旧密码</p>
                <el-form-item prop="password" style="margin-top: 20px;">
                    <el-input type="password" v-model="model.password" auto-complete="off"
                              placeholder="旧密码"></el-input>
                </el-form-item>
                <el-form-item prop="newPassword">
                    <el-input type="password" v-model="model.newPassword" auto-complete="off"
                              placeholder="新密码"></el-input>
                </el-form-item>
                <el-form-item style="width:100%; text-align: center">
                    <el-button type="primary" @@click="update()">修改</el-button>
                </el-form-item>
                <el-form-item style="width:100%; text-align: right">
                    <a href="/Home/Login">登录</a>
                </el-form-item>
            </el-form>
        </div>
    </div>
</body>
</html>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            model: {
                password: '',
                newPassword: '',
            },
            validation: {
                password: [{ required: true, message: '旧密码不能为空', trigger: 'blur' }],
                newPassword: [{ required: true, message: '新密码不能为空', trigger: 'blur' }]
            }
        },
        methods: {
            update() {
                this.$refs.userForm.validate((isValid) => {
                    if (isValid) {
                        axios.post(`/Home/ChangePassword?password=${this.model.password}&newPassword=${this.model.newPassword}`)
                            .then(res => {
                                if (res.data == 1) {
                                    alert('修改成功!');
                                    location.href = "/Home/Login";
                                }
                                else {
                                    alert("旧密码输入错误！");
                                }
                            });

                    }
                })
            },
        }
    });
</script>

<style scoped>
    .login-div {
        background-color: #eee;
        min-height: 100vh;
        height: 100%;
    }

    .login-page {
        margin: 180px auto;
        width: 500px;
        padding: 35px 80px 15px;
        background: #fff;
        border: 1px solid #eaeaea;
    }

    .title {
        text-align: center;
        margin-bottom: 25px;
    }

    .demo-ruleForm {
        border-radius: 5px;
    }

    label.el-checkbox.rememberme {
        margin: 0px 0px 15px;
        text-align: left;
    }

    .el-button--primary {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
        width: 100%
    }

        .el-button--primary:hover {
            background-color: #269abc !important;
            border-color: #1b6d85;
        }

    .login-res-title {
        color: #acacac;
        background-image: url(/img/line.png);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }

    p {
        margin: 0 0 10px;
    }
</style>
