<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>

    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/element-ui/theme-chalk/index.css" />
    <script type="text/javascript" src="~/lib/vue/vue.js"></script>
    <script type="text/javascript" src="~/lib/element-ui/index.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/moment.js"></script>
</head>
<body>
    <div id="app" class="login-div">
        <div class="login-container">
            <el-form :model="model" :rules="rules2"
                     status-icon
                     ref="userForm"
                     label-position="left"
                     label-width="0px"
                     class="demo-ruleForm login-page">
                <h3 class="title">修改密码</h3>
                <el-form-item prop="oldPassword" style="margin-top: 20px;">
                    <el-input type="password"
                              v-model="model.oldPassword"
                              auto-complete="off"
                              placeholder="旧密码"></el-input>
                </el-form-item>
                <el-form-item prop="newPassword">
                    <el-input type="password"
                              v-model="model.newPassword"
                              auto-complete="off"
                              placeholder="新密码"></el-input>
                </el-form-item>
                <el-form-item style="width:100%;">
                    <el-button type="primary" style="width:100%;" @@click="handleSubmit" :loading="logining">确认</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</body>
</html>

<script>
        var app = new Vue({
            el: "#app",
            data:{
                logining: false,
                model: {
                    oldPassword: '',
                    newPassword: '',
                },
                rules2: {
                    oldPassword: [{ required: true, message: '请输入旧户名', trigger: 'blur' }],
                    newPassword: [{ required: true, message: '请输入新密码', trigger: 'blur' }]
                }
            },
            mounted() {
                this.init();
            },
            methods: {
                handleSubmit(event) {
                    this.$refs.userForm.validate((valid) => {
                        if (valid) {
                            var params = `oldPassword=${this.model.oldPassword}&newPassword=${this.model.newPassword}`;

                            this.logining = true;
                            _fetch("/Account/RetPwd?" + params, "POST").then(res => {
                                if (res.status == true) {
                                    alert('修改密码成功!');
                                    location.href = "/Account/Login";
                                }
                                else {
                                    alert("旧密码错误！");
                                }
                                this.logining = false;
                            });

                        } else {
                            console.log('error submit!');
                            return false;
                        }
                    })
                },

                init() {
                    if ('@User.Identity.Name' == '') {
                        alert('请先登录!');
                        location.href = "/Account/Login";
                    }
                }
            }
        });
</script>

<style scoped>
    .login-div {
        background-color: #eee;
        background: url(/img/login-bg.jpg) center no-repeat;
        background-size: 100% 100%;
        padding-bottom: 20px;
        padding-top: 20vh;
        min-height: 100vh;
        height: 100%;
    }

    .login-container {
        width: 100%;
        height: 100%;
    }

    .login-page {
        margin: 180px auto;
        width: 350px;
        padding: 35px 35px 15px;
        background: #fff;
        border: 1px solid #eaeaea;
    }

    label.el-checkbox.rememberme {
        margin: 0px 0px 15px;
        text-align: left;
    }

    .el-button--primary {
        background-color: #415676 !important;
    }

        .el-button--primary:hover {
            background-color: #1e78af !important;
        }
</style>
